<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBl0OKLIM6WGugtE1owWzYt-10zt4PSnNs</string>
	<key>GCM_SENDER_ID</key>
	<string>846615878928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.badgeTask</string>
	<key>PROJECT_ID</key>
	<string>payment-manager-a3ef0</string>
	<key>STORAGE_BUCKET</key>
	<string>payment-manager-a3ef0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846615878928:ios:da38993497070c75cad995</string>
</dict>
</plist>